<div class="container-fluid">
  <div class="row">
    <div class="mazal col-sm-6 offset-sm-3 text-center">
      <H1>Ask your question to the <strong>coach !</strong></H1>
      <form action="answer" class="my-form">
        <input type="text" name="question">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </form>
    </div>
  </div>
    <div class="row">
    <div class="mazal col-sm-6 offset-sm-3 text-center">
      <div class="thecoach"></div>
    </div>
  </div>
</div>
